/* =======================================================
   Fontes
   ======================================================= */

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Signika');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Merienda');
@import url('https://fonts.googleapis.com/css?family=Neucha');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Markazi+Text');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

   
   
body {

    /* font-family: 'Roboto Slab', serif; */
    /* font-family: 'Signika', sans-serif; */
    /* font-family: 'Slabo 27px', serif; */
    /* font-family: 'Oswald', sans-serif; */
    /* font-family: 'Merienda', cursive; */
    /* font-family: 'Neucha', cursive; */
    /* font-family: 'Merriweather', serif; */
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Lora', serif; */
    /* font-family: 'Courgette', cursive; */
    /* font-family: 'Markazi Text', serif; */
    /* font-family: 'PT Serif', serif; */
    /* font-family: 'Bitter', serif; */
    /* font-family: 'Bree Serif', serif; */
    /* font-family: 'Acme', sans-serif; */
    /* font-family: 'Playfair Display', serif; */
    /* font-family: 'Shadows Into Light', cursive; */
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */

}

:root {
    --verde-escuro: #324849;
    --verde-claro: #B4E6B3;
    --verde-mais-claro: #f1fff1;
    --laranja: #C4987B;
}

.verde-escuro-bg { background-color: #324849; }
.verde-escuro-text { color: #324849; }

.verde-claro-bg { background-color: #B4E6B3; }
.verde-claro-text { color: #B4E6B3; }

.verde-mais-claro-bg { background-color: #f1fff1; }
.verde-mais-claro-text { color: #f1fff1; }

.laranja-bg { background-color: #C4987B; }
.laranja-text { color: #C4987B; }



/* =======================================================
   MISC
   ======================================================= */

button:not(.close), .botao {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    letter-spacing: 1.2px;
    border: 2px solid lightgrey;
    border-radius: 15px;
}

.botao-pequeno {
    padding: 6px 12px;
    margin: 5px 0;
}

.icone-24 {
    width: 24px;
    height: 24px;
}

.img-6rem {
    width: 6rem;
    height: 6rem;
}

#qtd-300, #qtd-500 {
    border: 2px solid lightgrey;
    border-radius: 7px;
    text-align: center;
    margin-left: 20px;
    width: 5rem;
}
#qtd-300::-webkit-inner-spin-button, #qtd-500::-webkit-inner-spin-button,
#qtd-300::-webkit-outer-spin-button, #qtd-500::-webkit-outer-spin-button {
   opacity: 1;
}


/* ================================================================
   ============================ NAVBAR ============================
   ================================================================ */

nav.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: var(--verde-escuro);
    border-bottom: 5px solid var(--laranja);

    font-family: 'Roboto Slab', serif;
}
.navbar-brand {
    color: white;
}
/* Remove o efeito azul em hover */
.navbar-brand:hover {
    background: transparent;
    color: rgb(230, 230, 230);
}
a.nav-link {
    color: rgb(230, 230, 230);
}
a.nav-link:hover {
    background-color: rgb(81, 112, 114);
    color: rgb(230, 230, 230);
}


/* ================================================================
   ============================ RODAPE ============================
   ================================================================ */

.page-footer {
    background-color: var(--verde-escuro);
    border-top: 5px solid var(--laranja);
    font-family: 'Signika', sans-serif;
    margin-top: 100px;
}

#redes-sociais {
    background-color: var(--verde-escuro);
}

#copyright-saladonna {
    background-color: var(--verde-escuro);
}

.icones-redes img {
    height: 40px;
    width: 40px;
}


/* ================================================================
   ======================= CONTEUDO PRINCIPAL =====================
   ================================================================ */

body {
    background-color: var(--verde-claro);
    padding-top: 50px;
    /* Imagem de fundo */
    background-image: url(../img/bkg-op.jpg);      
}

.conteudo-principal {
    padding: 40px 15px;
    text-align: center;
    font-family: 'Signika', sans-serif;
}

.conteudo-principal h1 {
    font-size: 60px;
    color: #324849;
}

.titulo-pagina {
    font-family: 'Neucha', cursive;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}


/* Mantem o rodape no fundo */

* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
#content {
    min-height: 100%;
}
.conteudo-principal {
    overflow: auto;
    padding-bottom: 100px;
}
#footer {
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
}


/* ================================================================
   =========================== PRODUTOS ===========================
   ================================================================ */

.produtos {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    align-content: flex-end;
}

.produto-item {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-title {
    font-family: 'Neucha', cursive;
    font-weight: bold !important;
}


/* ================================================================
   ======================== MODAL SALADAS =========================
   ================================================================ */

#titulo-salada {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}

#titulo-descricao {
    margin-top: 20px;
    text-transform: uppercase;
    font-family: 'Slabo 27px', serif;
}

.descricao {
    font-family: 'Slabo 27px', serif;
    font-weight: bold;
}

#titulo-ingredientes {
    text-transform: uppercase;
    font-family: 'Slabo 27px', serif;
}

.ingredientes-salada {
    display: flex;
    flex-flow: row wrap;
}

.ingrediente {
    padding: 2px;
    margin-left: 4px;
    margin-right: 4px;
    font-family: 'Slabo 27px', serif;
    font-weight: bold;
}

.ingrediente img {
    width: 17px;
    height: 17px;
    margin-top: -4px;
}


/* Visualizacao do carrinho. Provisorio. */
pre {
    text-align: left;
    background-color: white;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 10px;
}


/* ================================================================
   ========================== CARRINHO ============================
   ================================================================ */

#imagem-carrinho {
    height: 20px;
    width: 20px;
    margin-top: -1px;
}

.badge {
    border-radius: 10px;
}

#nav-item-carrinho {
    position: relative;
}


/* =======================================================
   INPUT + e -
   ======================================================= */

   .number-input input[type="number"] {
    -webkit-appearance: textfield;
      -moz-appearance: textfield;
            appearance: textfield;
  }
  .number-input input[type=number]::-webkit-inner-spin-button,
  .number-input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  .number-input {
    margin-bottom: 3rem;
  }
  .number-input button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative;
  }
  .number-input button:before,
  .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 2px;
    transform: translate(-50%, -50%);
  }
  .number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  .number-input input[type=number] {
    text-align: center;
  }
  .number-input.number-input {
    border: 1px solid #ced4da;
    width: 10rem;
    border-radius: .25rem;
  }
  .number-input.number-input button {
    width: 2.6rem;
    height: .7rem;
  }
  .number-input.number-input button.minus {
    padding-left: 10px;
  }
  .number-input.number-input button:before,
  .number-input.number-input button:after {
    width: .7rem;
    background-color: #495057;
  }
  .number-input.number-input input[type=number] {
    max-width: 4rem;
    padding: .5rem;
    border: 1px solid #ced4da;
    border-width: 0 1px;
    font-size: 1rem;
    height: 2rem;
    color: #495057;
  }

/* =======================================================
   QTD 300 e 500
   ======================================================= */

.input-qtd-invalido {
    border: 2px solid red !important;
}


/* =======================================================
   Override Toastr.js
   ======================================================= */

#toast-container > div {
    opacity: 1 !important;
}


/* =======================================================
   CARTOES
   ======================================================= */

.cartao {
    background-color: var(--verde-escuro);
    border-radius: 20px 20px;
}

.cartao-header {
    color: white;
    font-family: 'Neucha', cursive;
    border-bottom: 4px solid var(--laranja);
    font-size: 20px;
}

.cartao-body {
    border-radius: 0 0 20px 20px;
    font-family: 'Bree Serif', serif;
    font-size: 17px;
}

.produto-cartao-nome {
    font-size: 1.1em;
}

/* =======================================================
   CARRINHO
   ======================================================= */

.cartao-carrinho {
    background-color: var(--verde-escuro);
    border-radius: 20px 20px;
}

.carrinho-header {
    color: white;
    font-family: 'Neucha', cursive;
    border-bottom: 4px solid var(--laranja);
    font-size: 20px;
}

.carrinho-body {
    border-radius: 0 0 20px 20px;
    font-family: 'Bree Serif', serif;
    font-size: 17px;
}

.produto-carrinho-nome {
    font-size: 1.1em;
}


/* =======================================================
   ENDEREÇO
   ======================================================= */

#cartao-endereco, #cartao-subtotal {
    border-radius: 20px 20px;
}

.frete-titulo {
    padding: 5px;
    border-bottom: 3px solid #cae7cc;
    font-family: 'Bree Serif', serif;
    font-size: 17px;
    margin-block-start: 10px;
    padding: 10px 0;
}
.frete-opcoes {
    margin-top: .9em;
}

.cep-text {
    color: white;
    font-family: 'Neucha', cursive;
    font-size: 20px;
}


/* =======================================================
   SUBTOTAL
   ======================================================= */

.painel-subtotal ul {
    border-bottom: 3px solid #cae7cc;
    padding-bottom: 15px;
}
.painel-subtotal ul > li {
    padding: 10px 0;
    text-transform: uppercase;
}
.painel-subtotal ul>li .valor {
    float: right;
    text-align: right;
}

.subtotal-valor label {
    text-transform: uppercase;
}
.subtotal-valor {
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}